{% extends 'base.html' %}

{% block content %}
{% import "bootstrap/wtf.html" as wtf %}
<div class="col-6 offset-3">
    <form method="POST" novalidate>
        {{ form.csrf_token }}
        <div class="mb-3">
            {{ wtf.form_field(form.email, class='form-control') }} 
        </div>
        <div class="mb-3">
            {{ wtf.form_field(form.password, class='form-control') }}
        </div>
        <div class="mb-3">
            <button class="btn btn-info">Login Account</button>
        </div>
    </form>
</div>
{% endblock %}